/*

    Pages

*/


/*         ABOUT ME           */
.sector{

    display: none;
    text-align: justify;
    margin-left: 5%;
    margin-top: 3%;
    
}

.activePage{
    display: block !important; 
}
.content{
   
}
.socialbtn{
    border-style: none;
    border-radius: 25px;
    width: 25%;
    padding: 5px;
    color: white;
    background-color: #333;
    cursor:pointer;
    text-align: center;
    position: relative;
}
ul.soc{
    list-style-type: initial;
    white-space: nowrap;
}

li.soc{
    list-style-type: none;
}
.socialbtn:hover{
    background-color: rgb(119, 119, 119);
}
.socialbtn:active{
    background-color: rgb(100, 100, 100);
}
.socialimg{
    position:relative;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mobile{
    display: none;
}
.desktop{
    display: block;
    
}
.mobiletesto{

}
@media only screen and (max-width: 600px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    ul.soc{
        list-style-type: none;
        margin-left: 0;
        white-space: nowrap;
    }
    .socialbtn{
    
        border-radius: 0px;
        width: 100%;
        margin-top: 10px;
        padding: 5%;
        font-size: 110%;
        position: -ms-page;
        overflow: hidden;
        left:0;
    }
    .sector{
        display: none;
        text-align:justify;
        margin-left: 0%;
        margin-top: 1%;
      
    }
    .mobiletesto , h1,h2{
        margin-left: 5%;
        margin-right:5%;
        text-align:center;
    }
}
/*              HOME             */
.supportPaypal{
    position:absolute;
    right:8px;
    top:57.2px;
    color:black;
    background-color: lightblue; 
    padding: 20px;
    text-decoration: none;
    text-align: center;
    
}
.supportPaypal p{
    font-size: 18px;
    font-weight: bolder;
}
.supportPaypal:active{
    color:black;
    background-color:rgb(176, 196, 222); 
}

.artistphoto{
   display: block;
    position:relative;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: auto;
    width: 20%;
    height: 50%;
    right:70px;
    border: solid gray 5px;
    float:right;
}

    
@media only screen and (max-width: 600px){
    .artistphoto{
        float:none;
        right:0;
        position:relative;
        margin-left: auto;
        margin-right: auto;
         width: 40%;
         height: 30%;
     }
     .resolutionphoto{
        width:100%; 
        height: 100% !important;
     }
     .indicatorPhotos{
        height: 20px !important;
        width: 20px !important;
     }
}
/*      gallery HOME     */
.photos{
    display: none;
}
.resolutionphoto{
    width:100%; 
    height: 200%;
 }
.activephoto {
    display: block;
}
.gallery-container {
    max-width: 1000px;
    
    position: relative;
  
    left:0;
}
.galleryborder{
    border: double gray 2px;
}
  .prevGallerybtn, .nextGallerybtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 2px 2px 0;
    user-select: none;
  }
  .nextGallerybtn {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  
  .prevGallerybtn:hover, .nextGallerybtn:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .indicatorPhotos {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
   .indicatorPhotos:hover {
    background-color: #717171;
  }
  .photoTitle{
        color: black;
        text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 90px;
        width: 100%;
        text-align: center;
        font-family: Verdana, sans-serif;
        font-size: 20px;
      
  }
  /* fading animations */

  .fadePhotos {
    -webkit-animation-name: fadePhotos;
    -webkit-animation-duration: 2.5s ;
    -webkit-animation-timing-function: ease-in;
    background-color: black;
    animation-name: fadePhotos;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;

  }

  @-webkit-keyframes fadePhotos {
    from {
        opacity: 0.4;
        background-color: black;
    } 
    to {opacity: 1;background-color: black;
    }
  }
  
  @keyframes fadePhotos {
    from {
        opacity: 0.4;background-color: black;
    } 
    to {opacity: 1;background-color: black;

    }
  }