/*

    Pages

*/


/*         ABOUT ME           */
.sector{

    display: none;
    text-align: justify;
    margin-left: 5%;
    margin-top: 3%;
    
}

.activePage{
    display: block !important; 
}
.content{
   
}
.socialbtn{
    border-style: none;
    border-radius: 25px;
    width: 25%;
    padding: 5px;
    color: white;
    background-color: #333;
    cursor:pointer;
    text-align: center;
    position: relative;
}
ul.soc{
    list-style-type: initial;
    white-space: nowrap;
}

li.soc{
    list-style-type: none;
}
.socialbtn:hover{
    background-color: rgb(119, 119, 119);
}
.socialbtn:active{
    background-color: rgb(100, 100, 100);
}
.socialimg{
    position:absolute;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#mobile{
    display: none;
}
#desktop{
    display: block;
    
}
.mobiletesto{

}
@media only screen and (max-width: 600px){
    #mobile{
        display: block;
    }
    #desktop{
        display: none;
    }
    ul.soc{
        list-style-type: none;
        margin-left: 0;
        white-space: nowrap;
    }
    .socialbtn{
    
        border-radius: 0px;
        width: 90%;
        margin-top: 10px;
        padding: 5%;
        font-size: 110%;
        position: -ms-page;
        overflow: hidden;
        left:0;
    }
    .sector{
        display: none;
        text-align:justify;
        margin-left: 0%;
        margin-top: 1%;
      
    }
    .mobiletesto , h1{
        margin-left: 5%;
        margin-right:5%;
        text-align:center;
    }
}